.chatting-page-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 280px;
  min-width: 180px;
  background: #f5f5f5;
  border-right: 1px solid #ddd;
}

.chat {
  flex: 1;
  background: #fff;
}

