<h1>Members</h1>
<h2>add member</h2>
<mat-form-field appearance="fill">
  <mat-label>Add member</mat-label>
  <input
    #input
    type="text"
    matInput
    [matAutocomplete]="auto"
    placeholder="Search contacts"
  />
  <button matSuffix mat-icon-button (click)="onAddMember(input.value)">
    <mat-icon>add</mat-icon>
  </button>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let contact of contacts" [value]="contact">
    {{ contact }}
  </mat-option>
</mat-autocomplete>
<mat-divider></mat-divider>

<mat-list role="list" *ngFor="let member of members">
  <app-member [username]="member" (onKick)="onKickMember(member)"></app-member>
  <mat-divider></mat-divider>
</mat-list>
