<app-topbar></app-topbar>
<div class="chat-container">
  <div class="chat-header">
    <app-topbar [name]="selectedGroup?.name || ''"></app-topbar>
  </div>
  <div class="chat-messages" *ngFor="let message in messages">
    <app-message [message]="message"></app-message>
  </div>
  <div class="chat-input">
    <mat-form-field class="message-input" appearance="fill">
      <mat-label>Type a message</mat-label>
      <input matInput [(ngModel)]="messageInput" (keyup.enter)="sendMessage()" />
      <button mat-icon-button matSuffix (click)="sendMessage()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
